#textInput {
    width: 100%;
    height: 50vh;
}
.charblock {
    white-space: nowrap;
    font-size: x-large;
    margin-left: 10px;
}

#editBtn {
    position: fixed;
    bottom: 10px;
    width: 100%;
    right: 0px;
}